/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('/static/fonts/inter-v12-latin-300.woff2') format('woff2');
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/inter-v12-latin-regular.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    background-color: white;
    font-family: "Inter", "Helvetica Neue", sans-serif;
}

header.menu-header {
    padding: .75vw 1.25vw;
    margin-bottom: .75vw;
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 1.5vw;
    z-index: 1000;

    box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
}

header.menu-header .location {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

header.menu-header .date {
    text-transform: uppercase;
    font-variant: tabular-nums;
}

main.menu {
    padding: 0 1rem;
}

.meal {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 2vw;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.meal-name {
    margin: 0;
    flex-grow: 3;
    font-size: 3vw;
    font-weight: 400;
}

.meal-price {
    margin: 0;
    flex-shrink: 1;
    font-weight: 300;
    font-variant-numeric: tabular-nums;
}

.meal-price-student {
    font-size: 4.5vw;
}

.meal-price-employee {
    font-size: 4vw;
}

.meal-price-guest {
    font-size: 3vw;
}
