{% extends "baseof.html" %}

{% block content %}
    <h1>STW-ON Mensa Screen</h1>

    <h2>Locations</h2>

    {% for city, locations in cities.items() %}
        <h3>{{ city }}</h3>
        <ul>
            {% for location in locations %}
                <li><a href="/{{ location.id }}">{{ location.name }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
