{% extends "baseof.html" %}

{% block title %}
    Menü am {{ date }}
{% endblock %}

{% block body %}
    <header class="menu-header">
        <h1 class="location">{{ location["name"] }}</h1>
        <span class="date">{{ date|date_format }}</span>
    </header>
    <main class="menu">
        {% for meal in menu["meals"] %}
            <article class="meal">
                <h2 class="meal-name">{{ meal["name"] }}</h2>
                <div class="meal-price meal-price-student">
                    {{ meal["price"]["student"]|money_format }}
                </div>
                <div class="meal-price meal-price-employee">
                    {{ meal["price"]["employee"]|money_format }}
                </div>
                <div class="meal-price meal-price-guest">
                    {{ meal["price"]["guest"]|money_format }}
                </div>
            </article>
        {% endfor %}
    </main>
{% endblock %}

{% block scripts %}
    <script>
        window.addEventListener("load", function (event) {
            let top = true;
            const documentHeight = Math.max(
                document.body.scrollHeight,
                document.body.offsetHeight,
                document.documentElement.clientHeight,
                document.documentElement.scrollHeight,
                document.documentElement.offsetHeight
            );
            const viewportHeight = window.innerHeight;
            if (documentHeight > window.innerHeight) {
                setInterval(function () {
                    if (top) {
                        window.scrollTo({
                            top: documentHeight,
                            behavior: "smooth"
                        })
                    } else {
                        window.scrollTo({
                            top: 0,
                            behavior: "smooth"
                        })
                    }
                    top = !top;
                }, 5000)
            }
        })
    </script>
{% endblock %}
